/* CSS Global */

/* Incluye variables root y CSS de elementos */
:root {
  --color-texto: #292929;
  --color-gradienteTarjeta-inicio: #ef473a;
  --color-gradienteTarjeta-fin: #cb2d3e;
  --color-fondoTarjeta: white;

  --verdeazul: rgb(131, 169, 252);
  --verdeazul-claro: rgb(218, 230, 248);
  --verde-obscuro: rgb(10, 92, 160);

  --fuente-oficial: "IBM Plex Sans", sans-serif;
  --fuente-delgada: 300;
  --fuente-normal: 500;
  --fuente-gruesa: 700;

  --gradiente-tarjeta: linear-gradient(
    to right,
    rgb(189, 166, 241),
    rgb(4, 29, 110)
  );

  --efecto-resalto: translateY(-2px);
}

* {
  font-family: var(--fuente-oficial);
}

body {
  color: var(--color-texto);
  margin: 0;
  padding: 0;
}
