body { font-family: 'Courier New', Courier, monospace;
background-color: rgb(196, 240, 175);
color: white;}

.tarjeta{
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 350px;
    background-color: rgb(73, 164, 243);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease;    
}

.contenido-fondo{
    padding: 20px;
    transition: filter 0.5s ease;
} 


.Contenido-fondo.blurred {
 filter: blur(5px);
 pointer-events: none;
}


.info-columna{

}